@import url('./assets/fonts/fonts.css');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  padding: 0;
  margin: 0;
}

/*Home page*/
.home-page-container {
  display: flex;
  width: 100%;
  margin-bottom: 10rem;
}

.main-container {
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 65%;
}

/*header*/
.header-container {
  display: flex;
  align-items: center;
  width: 90%;
  padding-top: 2rem;
}

.month-year-container {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.span-month-year {
  font-size: 2.8rem;
  font-weight: 700;
  color: #1f3a6c;
}

.span-day-month {
  position: relative;
  top: -0.5rem;
  font-size: 1.6rem;
  color: #939295;
}

.h1-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.5rem;
  width: 60%;
  color: #939295;
}

.box-profile-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 5px;
  background-color: #ededed;
  margin-left: 2rem;
}

.box-profile-notification img {
  width: 3rem;
  height: 3rem;
}

.line {
  margin: 2rem 0;
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.116);
}

.line-main {
  margin: 0;
  margin: 2rem 0;
}

/*Show data in real time*/
.monitoring-system-container {
  width: 90%;
}

.h3-monitoreo {
  font-size: 2.9rem;
  font-weight: 600;
  color: #1f3a6c;
}

select {
  background-color: #f4f4f4;
  height: 4rem;
  width: 25rem;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  color: #828282;
  text-indent: 1rem;
  outline: none;
  margin-right: 2rem;
}

.button-show-data {
  background-color: #6e85bf;
  border: none;
  height: 4rem;
  width: 13rem;
  border-radius: 5px;
  color: white;
  font-size: 2rem;
}

.button-show-data:hover {
  background-color: #6078b4;
  cursor: pointer;
}

.button-show-data:active {
  background-color: #516aaa;
}

/*CardMeasurement*/

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
  height: 100%;
  width: 100%;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13rem;
  width: 38rem;
  background-color: #f3f3f3;
  border-radius: 5px;
  /* box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.048); */
  margin-bottom: 1.7rem;
  /* border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.062); */
}

.card img {
  width: 7rem;
  height: 7rem;
  padding-right: 2rem;
}

.title-data-container {
  display: flex;
  flex-direction: column;
}

.title-card {
  position: relative;
  top: 1rem;
  font-size: 2rem;
  color: #828282;
  font-weight: 400;
}

.data {
  font-size: 6rem;
  font-weight: 600;
  color: #1f3a6c;
}

.circle-status {
  position: relative;
  left: -2rem;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 100%;
}

.circle-status-red {
  transition: 200;
  background-color: red;
}

.circle-status-green {
  transition: 200;
  background-color: rgb(15, 179, 15);
}

.circle-status-orange {
  transition: 200;
  background-color: orange;
}

.span-simbol-data {
  font-size: 5rem;
  color: #828282;
  font-weight: 400;
}

/*Status bar*/
.status-bar-title {
  text-align: center;
  font-size: 2.4rem;
  color: #828282;
  margin: 1.5rem 0;
}

.bar-background {
  height: 2rem;
  width: 100%;
  background-color: #d4d4d4;
  border-radius: 1rem;
}

.bar-progress {
  height: 2rem;
  background-color: #33bf18;
  border-radius: 1rem;
}

.status-system-text {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.text-status {
  font-size: 1.8rem;
  color: #828282;
}

.central-option {
  padding-left: 2.5rem;
}

.graph-container{
  margin-bottom: 5rem;
}

/*Climate Indicators*/

.climate-indicators-container {
  position: fixed;
  display: flex;
  align-items: center;
  width: 35%;
  height: 100%;
  flex-direction: column;
  background-color: #1f3a6c;
  margin-left: 65%;
}

.content-indicatos {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.h2-indicator-climate-title {
  font-size: 3.3rem;
  text-align: center;
  color: white;
  margin-top: 2rem;
}

.room-hour {
  display: flex;
  justify-content: space-between;
  font-size: 2.3rem;
  color: #fbfbfd;
}

.room {
  font-weight: 100;
}

.hour {
  font-weight: 500;
}

.status-climate_indicator {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.climate_indicator_icon {
  width: 10rem;
  height: auto;
}

.status-text {
  font-size: 4rem;
  font-weight: 600;
  color: white;
  margin-left: 2rem;
}

.line-white {
  background-color: rgba(255, 255, 255, 0.466);
  margin: 4rem 0;
}

.indicator-metric {
  display: flex;
  justify-content: space-between;
  font-size: 2.3rem;
  color: white;
}

.bar-metric {
  height: 1rem;
  margin-bottom: 2rem;
}

.bar-progress-metric {
  height: 1rem;
  background-color: #6e85bf;
}
/*Data Graph*/

.data-graph-title {
  margin-top: 2rem;
}

/*LOGIN*/
.login-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(72, 90, 164);
  background: linear-gradient(
    90deg,
    rgba(72, 90, 164, 1) 0%,
    rgba(91, 116, 220, 1) 75%
  );
  min-height: 100vh;
  width: 100%;
}

.login-container {
  display: flex;
  border-radius: 1.05rem;
  background-color: white;
  height: 42rem;
  width: 73.5rem;
  margin-left: 19rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.116);
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 45.15%;
}

.internal-form-container {
  display: flex;
  flex-direction: column;
  height: 89.25%;
  width: 84%;
}

.internal-form-container img {
  width: 2.625rem;
  height: auto;
  margin-right: 0.525rem;
}

.img-epam-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: #2b2a2c;
}

.h1-title-login {
  color: #2b2a2c;
  text-align: center;
  font-size: 3.15rem;
  margin-top: 2.1rem;
}
.line-text-line {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.line-text {
  width: 28.35%;
  background-color: rgba(0, 0, 0, 0.178);
  height: 2px;
}

.text-between-lines {
  font-size: 1.26rem;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  height: 3rem;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.301);
  border-radius: 2px;
}

.error span {
  font-weight: 600;
  font-size: 1.3rem;
  color: #2b2a2cc2;
}

label {
  font-size: 1.26rem;
  font-weight: 700;
  margin-top: 2.1rem;
}

input {
  border: none;
  height: 3.3rem;
  outline: none;
  text-indent: 1.05rem;
  border-radius: 2.1px;
}

input[type='text'] {
  background-color: #ebeefd;
}

input[type='submit'] {
  height: 3.3rem;
  margin-top: 2.1rem;
  color: white;
  background-color: #677ee1;
  font-weight: 700;
}

input[type='submit']:hover {
  background-color: #5970d4;
  cursor: pointer;
}
input[type='submit']:active {
  background-color: #4f66cc;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 59.85%;
  background-color: #ebeefd;
  border-top-right-radius: 1.05rem;
  border-bottom-right-radius: 1.05rem;
}

.login-image {
  width: 90%;
  height: auto;
  margin-left: 4rem;
  padding-right: 2rem;
}

.temp-icon-login {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
}

.description-app {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
  right: 40rem;
  bottom: 15rem;
}

.h3-description {
  font-size: 2rem;
  line-height: 2rem;
}

.icon-title-description {
  display: flex;
  align-items: center;
}

.description {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-top: 0.8rem;
  margin-left: 4.7rem;
}
